{{ define "main" }}
<div class="list-container">
  {{ .Content }}
  
  <ul class="posts-list">
    {{ range .Pages }}
      <li class="post-item">
        <div class="post-header-line">
          <a href="{{ .RelPermalink }}" class="post-title-link">{{ .Title }}</a>
          {{ if .Params.status }}
            <span class="status-badge-inline">[{{ .Params.status }}]</span>
          {{ end }}
        </div>
        <p class="post-summary-text">{{ .Summary | plainify | truncate 160 }}</p>
      </li>
    {{ end }}
  </ul>
</div>
{{ end }}
